.inter-primary-font {
    font-family: "Inter", serif;
    font-optical-sizing: auto;
    font-weight: 800;
    font-style: normal;
  }

  .montecarlo-regular {
    font-family: "MonteCarlo", serif;
    font-weight: 400;
    font-style: normal;
  }
  

  /* shared-style   */
  section{
    margin-top: 100px;
  }
.section-details{
 text-align: center;
 margin: 60px;
}
  .section-title{
    color: white;
    font-size: 2rem;
    font-weight: 800;
    margin-bottom: 10px;
  }
  .section-description{
    color: rgba(255, 255, 255, 0.5) ;
    font-size: 1rem;
    font-weight: 300;
    margin-top: 10px;
  }
.primary-button{
padding: 15px 45px;
border: none;
border-radius: 40px;
color: white;
background-color: #E6533C;
font-size: 1rem;
font-weight: 400;
}
#download-app-btn{
  margin-left: 15px;
  background-color: transparent;
  border: 1px solid white;
}

body{
    background-color: black;
}
  .section-width{
    max-width: 1048px;
    margin: 0 auto;
  }
  
  section{
    max-width: 1048px;
    margin: 100px auto;
  }

  .display-flex{
    display: flex;
  }
.primary-color {
    color: #E6533C;
}
.dark-color{
    color: #222222;
}

.white-color{
  color: white;
}

.grey-color{
    color: rgba(255, 255, 255, 0.5);
}


  /* ----------------- header style ----------------  */

  .brand-text{
    font-style: italic;
    font-weight: 800;
    font-size: 2rem;
  }
   .navbar-container {
    justify-content: space-between;
    align-items: center;
  } 
  .nav-links>ul>p{
   list-style: none;
   margin-right: 50px;
   margin-top: 10px;
    margin-bottom: 10px;
  }

.nav-links>ul{
    border: 1px solid #ffffff2c;
    border-radius: 20px;
}

  .nav-links>ul>p>a{
    text-decoration: none;
    font-size: .8rem;
    font-weight: 300;
    color: white;
    width: 20px;
    border-radius: 20px;
    /* padding: 20px; */
  }

  #home-button{
      background: #E6533C;
      padding: 10px 20px;
  }
  .menu-icon {
    width: 35px;
    height: 5px;
    background-color: white;
    margin: 6px 0;
  }
  .menu-icon-container{display: none;}
/* ---------------------banner style -------------------  */
.banner-card-1{
  width: 140px;
  height: 70px;
  background: rgba(255, 255, 255, 0.1); /* Slightly visible white */
  backdrop-filter: blur(15px); /* Blurry effect */
  -webkit-backdrop-filter: blur(15px); /* Safari support */
  border-radius: 15px; /* Smooth edges */
  border: 1px solid rgba(255, 255, 255, 0.2); /* Subtle white border */
  padding: 10px;
  color: white; /* White text */
  text-align: center;
  box-shadow: 0 4px 10px rgba(255, 255, 255, 0.1); /* Soft glow effect */
  position: absolute;
  top: 16%;
  right: 13%;
}
.banner-card-1 h1 {
  margin: 0px 0px 5px 0;
}
.banner-card-slogan{
  margin: 0px;
  font-size: .8rem;
  font-weight: 200;
}

.banner-card-2{
  justify-content: center;
  position: absolute;
  top: 65%;
  right: 31%;
  align-items: center;
  width: 140px;
  height: 70px;
  background: rgba(255, 255, 255, 0.1); /* Slightly visible white */
  backdrop-filter: blur(15px); /* Blurry effect */
  -webkit-backdrop-filter: blur(15px); /* Safari support */
  border-radius: 15px; /* Smooth edges */
  border: 1px solid rgba(255, 255, 255, 0.2); /* Subtle white border */
  padding: 10px;
  color: white; /* White text */
  text-align: center;
  box-shadow: 0 4px 10px rgba(255, 255, 255, 0.1); /* Soft glow effect */
}
.banner-card-2 h1 {
  margin: 0px 0px 5px 0;

}
.banner-card-slogan{
  margin: 0px;
  font-size: .8rem;
  font-weight: 200;
}

.circle{
  background-color: #E6533C;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  margin-right: 10px;
}

.banner-image{
  position: relative;
  width: 100%;
}


.banner-title{
  font-size: 4rem;
  margin-bottom: 20px;
}
.banner-description{
  font-weight: 200;
  margin-top: 0px;
  margin-bottom: 20px;
}

/* -------------------------change your habits--------------------    */
.habits{
  display: grid;
  grid-template-columns: repeat(4,1fr);
}
.habit{
  text-align: center;
}
.habit-image{
  width: 180px;
  height: 180px;
  border-radius: 50%;
  margin-bottom: 20px;
}

.habit_title{
  font-size: 1rem;
  font-weight: 600;
}
.habit-slogan{
  font-size: .8rem;
  font-weight: 200;
}

/* -------------------run extra mile styles---------------------- */
.run-extra-mile{
  justify-content: space-around;
  align-items: center;
  padding: 40px 50px;
}
.run-extra-mile-image{
  width: 100%;
border-radius: 10px;
margin-top: 20px;
}
.extra-mile-image-div{
  width: 500px;
}
.run-extra-mile{
  background-color: #222222;
  border-radius: 20px;
}
.run-extra-mile-details{
 
}
.run-extra-mile-details h1{
  font-size: 3rem;
  font-weight: 800;
  margin-bottom: 8px;
}
.run-extra-mile-details p{
  font-size: 1rem;
  font-weight: 200;
  margin-bottom: 20px;
}

/* -----------media query for mobile phone-----------------   */
@media (max-width: 576px) {
.nav-links ul,.banner-container,.run-extra-mile{
  flex-direction: column;
}
.habits{
  grid-template-columns: repeat(1,1fr);
}

body{
  margin: 10px 20px;
}

/* ------hidden the menu ----------------- */
.nav-links {
  display: none;
}
.menu-icon-container{
  display: block;
}
.banner-buttons {
  display: flex;
}
.banner-card-1{
  top: 70%;
  right: 6%;
}
.banner-card-2{
  top: 104%;
  right: 54%;
}
.extra-mile-image-div{
  width: 100%;
}
.run-extra-mile-image{
  margin-top: 20px;
}
}